{% extends "test_ops/base.html" %}
{% block content %}

        <article class="media content-section">
          <div class="media-body">
            {% if user.is_authenticated %}
              {% for project in projects %}
                <div class="article-metadata">
                  <a class="mr-2" href="{% url 'project-details' project.id %}">{{ project.title }}</a>
                  <small class="text-muted">{{ project.date_created }}</small>
                </div>
              {% endfor %}
                <div class="article-metadata">
                  <a class="btn btn-lg btn-primary my-button-color" href="{% url 'project-create' %}">Create</a>
                </div>
              {% else %}
                <div class="card text-center">
                  <div class="card-header">
                    Featured
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Bootstrap your testing today</h5>
                    <p class="card-text">Sign up and join the community</p>
                    <a href="{% url 'register' %}" class="btn btn-lg btn-primary my-button-color">Sign up</a>
                  </div>
                  <div class="card-footer text-muted">
                    FREE
                  </div>
                </div>
              {% endif %}
          </div>
        </article>

{% endblock content %}