body {
  background: #f5f0f3;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #913c79;
}

.site-header .navbar-nav .nav-link {
  color: #cee6f0;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.my-button-color {
    background-color: #913c79;  /* Set the background color */
    color: #fff;  /* Set the text color if needed */
    border-color: #913c79;  /* Optional: Match the border color with the background */
}

.my-button-color:hover {
    background-color: #ab6196;  /* Set the background color */
    color: #fff;  /* Set the text color if needed */
    border-color: #ab6196;  /* Optional: Match the border color with the background */
}

.my-button-color:active {
    background-color: #ab6196;  /* Background color on click */
    color: #fff;  /* Text color on click */
    border-color: #ab6196;  /* Border color on click */
}